<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<string>NO</string>
	<key>className</key>
	<string>CCSoundNode</string>
	<key>editorClassName</key>
	<string>CCSoundNode</string>
	<key>propertiesOverridden</key>
	<array>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<false/>
			<key>type</key>
			<string>FloatXY</string>
			<key>name</key>
			<string>skew</string>
			<key>displayName</key>
			<string>Skew</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<false/>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>skewY</string>
			<key>displayName</key>
			<string>Skew_Y</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<false/>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>skewX</string>
			<key>displayName</key>
			<string>Skew_X</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>0</integer>
			<key>animatable</key>
			<false/>
			<key>type</key>
			<string>Degrees</string>
			<key>name</key>
			<string>rotation</string>
			<key>displayName</key>
			<string>Rotation</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>animatable</key>
			<false/>
			<key>type</key>
			<string>ScaleLock</string>
			<key>name</key>
			<string>scale</string>
			<key>displayName</key>
			<string>Scale</string>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>animatable</key>
			<false/>
			<key>displayName</key>
			<string>Position</string>
			<key>type</key>
			<string>Position</string>
			<key>name</key>
			<string>position</string>
		</dict>
		<dict>
			<key>animatable</key>
			<false/>
			<key>defaultSerialization</key>
			<true/>
			<key>type</key>
			<string>Check</string>
			<key>name</key>
			<string>visible</string>
			<key>displayName</key>
			<string>Visible</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCSoundNode</string>
			<key>name</key>
			<string>CCSoundNode</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>default</key>
			<string></string>
			<key>displayName</key>
			<string>Audio File</string>
			<key>name</key>
			<string>soundFile</string>
			<key>type</key>
			<string>AudioFile</string>
			<key>affectsProperties</key>
			<array>
				<string>duration</string>
			</array>
		</dict>
		<dict>
			<key>displayName</key>
			<string>duration, sec</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>duration</string>
			<key>dontSetInEditor</key>
			<false/>
			<key>readOnly</key>
			<false/>
		</dict>
		<dict>
			<key>displayName</key>
			<string>playing</string>
			<key>name</key>
			<string>playing</string>
			<key>type</key>
			<string>Check</string>
			<key>defaultSerialization</key>
			<false/>
			<key>animatable</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
